*, body, html{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", monospace;
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem 1rem 1rem;
    overflow-x: hidden; 
    font-size: 1rem;
}

#line{
    padding-bottom: 4rem;
}

#line::before {
    content: "guest@MX-Shell:~$";
    display: inline-block;  
}

#line:hover{
    cursor: text;
}

.outputSection{
    margin-left: 2rem;
}

textarea{
    position: absolute;
    left: -10000px;
}

#terminal > div > p{
    margin: 2px 0 2px 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    background-color: aqua;
}

#writter {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: -4px;
}


.caret {
    display: inline-block;
    width: 8px;
    height: 16px;
    background-color: #fff;
    animation: blink 1s steps(1) infinite ;
    transform: translateY(3px) ;
    margin-left: -8px;
}

@keyframes blink {
    50% { background-color: transparent; }
}