*, body, html{
    margin: 0;
    padding: 0;

    --terminal-bg: #121212 ;
    --glow-color: #0097B2;
    --main-text-color: #EAE2B7;
    --secn-text-color: #87FF65;
    --error: #D62828;
}

::selection {
    background-color: var(--glow-color);
    color: #EAE2B7;
}

::-moz-selection {
    background-color: var(--glow-color);
    color: #EAE2B7;
}

body {
    font-family: "Space Mono", monospace;
    background-color: var(--terminal-bg);
    padding: 0.5rem 1rem 1rem 1rem;
    overflow-x: hidden; 
    font-size: 1.1rem;
}

#line{
    padding-bottom: 4rem;
}

/* #line::before {
    content: "guest@MX-Shell:~$";
    display: inline-block; 
} */

#prompt{
    display: inline-block;
}
#line:hover{
    cursor: text;
}

.outputSection{
    margin-left: 2rem;
}

textarea{
    position: absolute;
    left: -10000px;
    top: 100px;
}

#terminal > div > p{
    margin: 2px 0 2px 0;
}

a{
    text-decoration: none;
    color: #EAE2B7;
}

a:hover{
    background-color: var(--glow-color);
}

#writter {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: pre;
}


.caret {
    display: inline-block;
    background-color: #EAE2B7;
    color: #EAE2B7;
    transform: translateY(0px);
    margin-left: -8px;
    animation: blink 1s linear infinite;
    position: relative;
    left: 0px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


p, #writter, pre, .prompt > span {
    color: var(--main-text-color);
}


.prompt, #line::before, #prompt{
    color: var(--secn-text-color)
}

.outName{
    color: var(--glow-color);
    text-shadow: 0 0 10px var(--glow-color); 
}

.notfound{
    color: var(--error);
}